.tags {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.nameProduct {
  display: flex;
  list-style: none;
  padding: 32px 0px 32px 0px;
  gap: 35px;
}
button {
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background-color: #0C5EA3;
}
button:hover {
  background-color: #ffd020;
  color: #0C5EA3;
}

/*LISTA DOS NOSSOS PREÇOS*/
.precos {
  height: auto;
  background-color: #fff;
  
}
.nossoPreco {
  background-color: #ffd020;
  border-radius: 16px;
  border-bottom: #0C5EA3 solid;
  max-width: 900px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}

.precoItem {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin-left: 12px;
}
.precoItem .item {
  margin-left: 10px;
  width: 100%;

}
.precoItem .itemPreco {
  font-size: 20px;
  color: #0C5EA3;
}
.title {
  position: absolute;
  padding: 15px;
  background-color: #0C5EA3;
  margin-top: 380px;
  width: 1204px;
  color: #fff;
  font-weight: 100;
}
.titleDescri {
  position: absolute;
  padding: 15px;
  background-color: #0C5EA3;
  margin-top: 220px;
  width: 1204px;
  color: #fff;
  font-weight: 100;
}

/*BACKGROUND DOS CARDS*/
.searchScraping {
  display: flex;
  justify-content: center;
}
.containerCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1204px;
  height: auto;
  background: #0C5EA3;
  border-radius: 8px;
  margin-top: 80px;
  position: relative;
  margin-bottom: 60px;
}