* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
li a {
    text-decoration: none;
    text-transform: uppercase;
}
a:hover {
    color: #ffd020;
    text-decoration: underline;
}

/*TAGS DE BUSCA RÁPIDA*/


/*LISTA DOS NOSSOS PREÇOS*/
.precos {
    height: auto;
    background-color: #fff;
    
}
.nosso-preco {
    background-color: #ffd020;
    border-radius: 16px;
    border-bottom: #0C5EA3 solid;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

.preco-item {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
}
.preco-item .item {
    margin-left: 10px;
    width: 100%;

}
.preco-item .item-preco {
    font-size: 20px;
    color: #0C5EA3;
}
.title {
    position: absolute;
    padding: 15px;
    background-color: #0C5EA3;
    margin-top: 380px;
    width: 1204px;
    color: #fff;
    font-weight: 100;
}
.title-descri {
    position: absolute;
    padding: 15px;
    background-color: #0C5EA3;
    margin-top: 220px;
    width: 1204px;
    color: #fff;
    font-weight: 100;
}

/*BACKGROUND DOS CARDS*/
.search-scraping {
    display: flex;
    justify-content: center;
}
.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1204px;
    height: auto;
    background: #0C5EA3;
    border-radius: 8px;
    margin-top: 432px;
    position: relative;
    margin-bottom: 60px;
}
.container-card-des {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1204px;
    height: auto;
    background: #0C5EA3;
    border-radius: 8px;
    margin-top: 280px;
    position: relative;
    margin-bottom: 60px;
}

/*CARD DE PRODUTOS*/
.cards {
    width: 480px;
    height: auto;
    background-color: #fff;
    margin-top: 50px;
    padding: 0px 30px 0px 30px;
    margin-bottom: 60px;
    border-radius: 4px;
}
.item-card img {
    margin: 80px 80px 15px 80px;
    width: 250px;
    height: 182px;
    border-radius: 8px;
}

.detals h4 {
    padding: 5px;
    text-decoration: underline;
    
    
}
.detals-item {
    margin-bottom: 12px;
    
}
.description {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    color: #0C5EA3;
    padding: 5px;

}